body{
    margin:0px;
}

header{
    height: 120px;
    font-family: 'Open Sans', sans-serif;
}

.bg_color{
    background-color: #0e2843;
    height: 120px;
}

.heading{
    height: 50px;
    width:200px;
    background-color: white;
    border-style: solid;
    border-color: orangered;
    z-index: 1;
    position:absolute;
    top: 75px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.heading h2{
    padding:0px;
    margin-top:0px;
    margin-bottom:0px;
    text-align: center;

}

.heading p{
    margin-top:5px;
    text-align: center;
    font-size: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 50px;
    padding-top:20px;
    font-family: 'Open Sans', sans-serif;
    
}
.container .subheader{
    display:flex;
    height:70px;
    justify-content: space-between;
    flex: 100%;

}

.subheader .subheading{
    /* flex:33%; */
    /* position: relative; */
}
/* 
/* .subheading h2{
    /* position: absolute;
    bottom :0px; */
    /* line-height: 0px; */
     /* padding-left: 20px; */
   /* left:50%;
    top:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  */
 */ */

.subheader .category{
    /* flex:33%; */
}

select{
    width: 150px;
    height:30px;
    margin-top: 20px;
}

.subheader .subscribe{
    /* flex:33%; */
    /* position:relative; */
   
}

/* .subheader .subscribe .inside-subscribe{
    position: absolute;
    right: 0;
    bottom:0;
    
} */

 .part{
    display:flex;
    margin-top: 20px;
}

.part .type_text{
    /* flex:60%; */
    width:120px;
    height:30px;
}

.type_text input{
    height: 30px;
    width: 120px;
}

.part .submit{
    /* flex:40%; */
    background-color: #0e2843;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top:8px;
    width:60px;
}

.main_hr {
    
    flex: 100%;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

.content-container{
    height: auto;
    flex: 100%;
}

.content-body{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right:150px;
    margin-top: 0px;
}

.content-body .content-1{
    flex: 100%;
    margin-bottom: 30px;
}

.content-body .content-2{
    flex: 100%;
    margin-bottom: 30px;
}

.content-body .content-3{
    flex: 100%;
}

.content-1 + .content-2{
    border-top: 1px solid #c1c0c4;
}

.content-2 + .content-3{
    border-top: 1px solid #c1c0c4;
}

.content-inside{
    display:flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.content-inside .image-container{
    flex:30%;
    height: 200px;
    width:200px;
    border-style: solid;
    border-color: black;
}

.image-container .image-container-inside{
    height: 200px;
    
}

.content-image{
    height:200px;
    box-sizing: content-box;
}
img{
    height: 200px;
    width: 100%;
}
.content-inside .content{
    flex: 70%;
    margin-left: 20px;
    /* line-height: 7px; */
    display: flex;
    flex-direction: column;
}

/* .one{
    flex: 30%;
} */
.content h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.content .sub-content{
    margin-top: 5px;
    font-size:14px;
}

.sub-content span{
    color: #696969;
    font-size: 12px;
    font-style: italic;
}

.content .main-content{
    margin-top: 8px;
    line-height: 25px;

}

/* .three{
    flex:20%;
    position:relative;
    border-color: black;
    border-style: solid;
} */
.content .continue-content{
    background-color: coral;
    height: 25px;
    width:150px;
    text-align: center;
    padding-top: 10px;
    margin-top:20px;
    /* text-decoration-color: white; */
    color: white;
}

footer{
    background-color: #0e2843;
    color: white;
    text-align: center;
    margin-top: 45px;
    height: 30px;
    padding-top:15px;
    font-family: 'Open Sans', sans-serif;
}
